body{
    
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);   
}
.listas-redes {
    line-height: 50px;
    border-radius: 100%;
}
.titulos{
    color: white;
}
h1{
    text-align: center;
    color: white;
   
}
div{
  
}