/* Organização CSS /*/
/* Cabeçalho /*/
header{
    
    height: 60px;
    width: 100%;
    color: blanchedalmond;
    background-color: black;
    font-family: monospace;
    
    
}
h3{
    margin: 0px;
    margin-left: 50px;
    margin-right: 50px;
    color: aliceblue;
    padding: 15px;
    display: inline-block;

    
}
#kel{
    float: left;
    font-size: 2em;
    margin: 0px;
}
#logo{
    float: right;
    right: 0px;
}
a{
    text-decoration: none;
}



/* Navegação caso eu use /*/
nav{

}
body{ /* Body é Body ne /*/
    background-image: url("fundo.jpg");
    background-size: cover;
    margin: 0px;
    background-color: black, 0.100;
    
    font-family: monospace;
    color: rgb(0, 0, 0);   
}
/* Div que deixa o fundo fosco e meio transparente */
.khrystian{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
}
/* H1 com meu nome logo abaixo do cabeçalho - que está na DIV fosca */
#khrystian{
    text-align: center;
    color: aliceblue;
    font-family: monospace;
    font-weight: bold;
    font-size: 2em;
}
#khrystian:hover{
    background: -webkit-linear-gradient(#6200ff, #00D4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* minha main /*/
main{
    margin-top: 30px;
    background-color: white;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto; 
    width: 95%;
    
}
footer{
    height: 50px;
    color: blanchedalmond;
    background-color: black;
    bottom: 0px;
    width: 100%;
}