html {
  scroll-behavior:smooth;
}

body { /* Body é Body ne /*/
  background-image: url("fundo2.jpg");
  background-size: cover;
  margin: 0px;
  background-color: black, 0.100;
  font-family: monospace;
  color: rgb(0, 0, 0);   
}

@font-face {
  font-family: "quadranta" ;
  src: url(Quadranta-Regular.otf);
}

@font-face {
  font-family: "designer";
  src: url(DESIGNER.otf) ;
}

.fosco {
  background-color: rgba(255, 255, 255, 0.100) ;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

/* Cabeçalho /*/

header {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  font-family: designer;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
  color: rgb(173, 173, 173);
  font-size: 15px;
}

.nav:hover {
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Nome com efeito /*/
.div-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  border-radius: 10px;
}

#name {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 2em;
  font-family: designer;
  transition: font-size 1s;
}

#name:hover {
  background: -webkit-linear-gradient(#ff009d, #00D4FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.container-duplo {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content:space-evenly;
  margin-top: 20px;
}

.container-left {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 10px;
  color: white;
  
}

.container-rigth {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  flex-grow: 1;
}

#p-container-rigth {
  
  text-align: start;
  color: white;
  font-size: 20px;
  padding: 20px;
  margin: 0px;
}

#dev {
  font-size: 2em;
  padding-top: 10px;
  font-family: quadranta;
  color: white;
  margin: 0px;
}

#profile {
  border-radius: 30px;
  margin: 0px;
  padding: 0px;
}

span {
  font-weight: bold;
}

#name-degrade {
  font-size: 40px;
  font-family: designer;
  background: -webkit-linear-gradient(#ff009d, #00D4FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
  padding: 10px;
  
}

#paside{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 15px;

}
#paside2{
  
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 0px;
}

#img1,#img2,#img3,#img4{
  transition: width 0.3s;
}

#img1:hover{
  width: 30px ;
}

#img2:hover{
  width: 30px ;
}

#img3:hover{
  width: 30px ;
}

#img4:hover{
  width: 30px ;
}

#trybe {
  background: -webkit-linear-gradient(rgb(6, 175, 0), rgb(0, 255, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-conhecimento {
  border-radius: 10px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 15px;
  color: white;
  width: 95%;
  font-size: 20px;
}

#name-conhecimento {
  font-size: 2.3em;
  font-family: designer;
}

.projetos {
  height: 200px;
  width: 95%;
  border-radius: 10px;
  margin-top: 15px;
}

#servico {
  height: 300px;
  width: 95%;
  border-radius: 10px;
  margin-top: 15px;
  
}
#inicio {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 10px;
  border-radius: 15px;
}

#inicio-btn {
  color: white;
  font-size: 10px;
  
}

#inicio:hover{
  background: -webkit-linear-gradient(#ff009d, #0502d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer{
  height: 30px;
  color: rgb(255, 255, 255);
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
